# installation files
/Mallet
/.ipynb_checkpoints

# LLM files
en_core_web_sm-3.5.0-py3-none-any.whl
fr_core_news_md-3.5.0-py3-none-any.whl
/Word2Vec_Models/GoogleNews-vectors-negative300.bin.gz

# Corpora
/datasets
/English-Sample
/FRconquest_split

# Other Folders
/nlp
/API Keys
/__pycache__
/Resources

# misc
.DS_Store
config.sh
cohere_key
variables.pkl
